<header></header>
<main>
  <button class="btn-action" [ngClass]="{'cheched-in': action === 'checkIn'}"
    (click)="checkInOut()">{{(action === 'checkIn')?'Check-Out':'Check-In'}}</button>
  <button class="btn-clear" (click)="clearTimes()">Clear Times</button>
  <div>Status: {{(action === 'checkIn')?'checked-in':'checked-out'}}</div>
  <!-- <ol>
    <li *ngFor="let item of times">{{item.time | date:'dd.MM - HH:mm:ss'}}: {{item.action}}</li>
  </ol> -->

  <ul class="days-list" *ngFor="let item of days">
    <!-- <li *ngFor="let item of times">{{item.time | date:'dd.MM - HH:mm:ss'}}: {{item.action}}</li> -->
    <li class="list-header">{{item.day}}</li>
    <li *ngFor="let t of item.times; first as isFirst; last as isLast">
      <span
        [ngClass]="{'time-overdue': isFirst && t.action === 'checkOut', 'forgot-check-out': isLast && t.action === 'checkIn'}">
        {{t.time | date:'dd.MM - HH:mm:ss'}} - {{t.action}}</span>
    </li>
    <li class="list-footer">Working time: {{checkInAndOutCorrectForDay(item.times).as('hours')}} - hours</li>
  </ul>
</main>
