@import './grid.scss';

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #000;
  color: #fff;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .header-status {
    padding-left: 1rem;
  }

  .delete-icon {
    color: red;
  }
}

.content {
  flex: 1 0 auto;
  margin-top: 64px;
  overflow: hidden;
}

.checked-in {
  background-color: green;
}

.checked-in-text {
  color: green;
}

.checked-out-text {
  color: gray;
}

.time-overdue {
  color: red;

  .mat-icon {
    color: red;
  }
}

.forgot-check-out {
  color: green;

  .mat-icon {
    color: green;
  }
}

.mat-subheader.list-header {
  background: #171819eb;
  color: #fff;
  font-size: larger;
}
