<mat-toolbar class="header">
  <button [ngClass]="{'checked-in': action === 'checkIn'}" (click)="checkInOut()"
    mat-raised-button>{{(action === 'checkIn')?'Check-Out':'Check-In'}}</button>
  <span class="header-status"
    [ngClass]="{'checked-in-text': action === 'checkIn' , 'checked-out-text': action === 'checkOut'}">{{currentTime.toFormat('HH:mm')}}
    -
    {{(action === 'checkIn')?'checked-in':'checked-out'}}</span>

  <span class="toolbar-spacer"></span>
  <span class="full-time">Totaltime: {{fullWorkingTime.as('hours') | number}}</span>


  <button mat-button aria-label="Clear Times" matTooltip="Clear all Times" (click)="clearTimes()">
    <mat-icon class="delete-icon" aria-hidden="false" aria-label="delete icon">delete</mat-icon>
    <span class="delete-btn-text">Clear Times</span>
  </button>
</mat-toolbar>


<main class="content">
  <div class="flex-grid">
    <div class="col" *ngFor="let item of days">
      <mat-list>
        <div class="list-header" mat-subheader>{{getWeekDay(item.day)}}: {{item.day}}</div>
        <div mat-subheader>{{getTimesForTheDay(item)}}</div>
        <div mat-subheader>Working time: {{item.totalTime.as('hours') | number}} - hours</div>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let t of item.times; first as isFirst; last as isLast; let editing = false"
          [ngClass]="{'time-overdue': isFirst && t.action === 'checkOut', 'forgot-check-out': isLast && t.action === 'checkIn'}">
          <mat-icon *ngIf="t.action === 'checkOut'" mat-list-icon>calendar_today</mat-icon>
          <mat-icon *ngIf="t.action === 'checkIn'" mat-list-icon>event_available</mat-icon>
          <div mat-line>{{t.action}}</div>
          <div mat-line>
            <ng-container *ngIf="!t.editing">
              {{t.time | date:'HH:mm:ss'}}
            </ng-container>
            <ng-container *ngIf="t['editing']">
              <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput (ngModel)="t.time" [value]="t.time" (change)="currentEditing($event)">
              </mat-form-field>
            </ng-container>
            <button mat-icon-button aria-label="Edit Time" (click)="t.editing = setEditting(t)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</main>
