<mat-toolbar class="header">
  <button [ngClass]="{'checked-in': action === 'checkIn'}" (click)="checkInOut()"
    mat-raised-button>{{(action === 'checkIn')?'Check-Out':'Check-In'}}</button>
  <span class="header-status"
    [ngClass]="{'checked-in-text': action === 'checkIn' , 'checked-out-text': action === 'checkOut'}">{{currentTime.toFormat('HH:mm')}}
    -
    {{(action === 'checkIn')?'checked in':'checked out'}}</span>

  <span class="toolbar-spacer"></span>
  <span class="full-time">Totaltime: {{fullWorkingTime.as('hours') | number}}</span>
  <span class="full-time" *ngIf="fullWorkingDiff.valueOf()">. Diff: {{formatDurHHmm(fullWorkingDiff)}}</span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="clearTimes()" matTooltip="Clear all times in the storage" mat-menu-item>
      <mat-icon class="delete-icon" aria-hidden="false" aria-label="delete icon">delete</mat-icon>
      <span>Clear Times</span>
    </button>
    <button (click)="exportDays()" matTooltip="Export calculated times for days" mat-menu-item>
      <mat-icon>save</mat-icon>
      <span>Export calculated Times</span>
    </button>
    <button (click)="exportTimes()" matTooltip="Save raw checked-in-out times" mat-menu-item>
      <mat-icon>save_alt</mat-icon>
      <span>Save raw Times</span>
    </button>
    <button (click)="openFile($event)" matTooltip="Load raw checked-in-out times from file" mat-menu-item>
      <mat-icon>open_in_browser</mat-icon>
      <span>Load raw Times</span>
    </button>
    <input type="file" style="display:none" (change)="handleFileInput($event)" accept=".json" #fileInput>

    <div (click)="$event.stopPropagation()" class="set-target-time">
      <div>Target day working time (h)</div>
      <div><input type="number" pattern="" min="0" max="24" [formControl]="targetDayWorkingTime" placeholder="8"
          name="targetTime">
      </div>
    </div>
  </mat-menu>
</mat-toolbar>


<main class="content">
  <div class="flex-grid">
    <div class="col" *ngFor="let item of days">
      <mat-list class="list">
        <div class="list-header" mat-subheader>{{getWeekDay(item.day)}}: {{item.day}}</div>
        <div mat-subheader class="item-header">{{item.calcStart}} - {{item.calcEnd}}</div>
        <!-- <div mat-subheader>Working time: {{item.totalTime.as('hours') | number}} - hours</div> -->
        <div mat-subheader class="item-header">Working time: {{formatDurHHmm(item.totalTime)}}</div>
        <div mat-subheader class="item-header" *ngIf="item.targetDiff">Diff: {{ formatDurHHmm(item.targetDiff)}}</div>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let t of item.times; first as isFirst; last as isLast; let editing = false"
          [ngClass]="{'time-overdue': isFirst && t.action === 'checkOut', 'forgot-check-out': isLast && t.action === 'checkIn'}">
          <mat-icon *ngIf="t.action === 'checkOut'" mat-list-icon>calendar_today</mat-icon>
          <mat-icon *ngIf="t.action === 'checkIn'" mat-list-icon>event_available</mat-icon>
          <div mat-line>{{t.action}}</div>
          <div mat-line>
            <ng-container *ngIf="!t.editing">
              {{t.time | date:'HH:mm:ss'}}
            </ng-container>
            <ng-container *ngIf="t['editing']">
              <mat-form-field class="example-full-width">
                <mat-label>Set datetime-local</mat-label>
                <input type="datetime-local" matInput (ngModel)="t.time" [value]="t.time | date: dateTimeLocaleForamt"
                  [pattern]="dateInputPattern" (change)="currentEditing($event)" required>
              </mat-form-field>
            </ng-container>
            <button mat-icon-button matTooltip="Edit time" aria-label="Edit Time" (click)="t.editing = setEditting(t)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</main>
